body {
    background-image: url(https://hips.hearstapps.com/hmg-prod.s3.amazonaws.com/images/people-playing-paper-rock-scissors-royalty-free-illustration-1583269312.jpg?crop=0.994xw:0.799xh;0.00160xw,0.195xh&resize=1600:*);
    background-size: cover;
}

.choices-area {
    background-color: white;
    border: 2px solid black;
    border-radius: 10px;
    width: 80%
}

.col-6 {
    padding: 0px !important;
}